h1 {
    list-style: circle;
    background: orange;
}
h2 {
    list-style: circle;
    background: orange;
}
h3 {
    list-style: circle;
    background: orange;
}

pre {
    list-style: circle;
    background: orange;
}
li {
    list-style: square;
    background: orange;
}
h4 {
    list-style: circle;
    background: orange;
}
